@import "../palette";

.link {
    text-decoration: none;
    color: $text-color;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: gray;
    &:hover,
    &:active {
        color: invert($text-color);
        padding: 5px;
        border-width: 0;
        border-radius: 5px;
        background-color: $text-color;
    }
    transition: all 250ms;
}
