.container {
    position: relative;
}

.avatar {
    position: absolute;
}

.sideContainer {
    position: absolute;
    top: 350px;
    background-image: url(/side_placeholder.png);
    background-size: 100% 100%;
    width: 250px;
    height: 250px;
}

.side {
    position: absolute;

    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 82px;
}

.nameContainer {
    position: absolute;
    top: 300px;
    left: 450px;

    max-width: 5em;

    color: white;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.75);

    font-size: 96px;
    font-style: italic;
    text-transform: uppercase;

    transform: translateY(-50%);
}

.combat {
    position: absolute;
    top: 325px;
    left: 425px;
    transform: translateY(-50%);
    width: auto;
}

.attribute {
    $size: 108px;

    font-size: $size;
    font-style: italic;
    max-width: 250px;
    color: white;
    line-height: $size + 20px;
}

.diceContainer {
    position: absolute;
    top: 10px;
    left: 40px;
}

.result {
    position: absolute;
    top: 190px;
    left: 175px;

    font-size: 108px;
    color: white;

    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px #ddaf0f, 0 0 30px #ddaf0f, 0 0 50px #ddaf0f;
}

.description {
    position: absolute;
    top: 350px;
    left: 170px;

    font-size: 84px;
    color: white;

    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px #ddaf0f, 0 0 30px #ddaf0f, 0 0 50px #ddaf0f;
}
