$avatar-width: 420px;
$avatar-height: 600px;

$dice-container-left: 30px;

.avatar {
	position: absolute;
	width: $avatar-width;
	height: $avatar-height;
}

.sideContainer {
	position: absolute;
	transform: translateY(-50%);
	background-image: url(/side_placeholder.png);
	background-size: 100% 100%;
	width: 225px;
	height: 200px;

	&.top {
		top: 300px;
	}

	&.center {
		top: 500px;
	}

	&.bottom {
		top: 500px;
	}
}

.side {
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 68px;
}

.nameContainer {
	position: absolute;
	left: $avatar-width + 10px;

	max-width: 5em;

	color: white;
	text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.75);

	font-size: 96px;
	font-style: italic;
	text-transform: uppercase;

	transform: translateY(-50%);

	&.top {
		top: 300px;
	}

	&.center {
		top: 300px;
	}

	&.bottom {
		top: 400px;
	}
}

.combat {
	position: absolute;
	left: $avatar-width + 10px;
	transform: translateY(-50%);
	width: auto;

	&.top {
		top: 300px;
	}

	&.center {
		top: 300px;
	}

	&.bottom {
		top: 400px;
	}
}

.attribute {
	$size: 108px;

	font-size: $size;
	font-style: italic;
	max-width: 250px;
	color: white;
	line-height: $size + 20px;
}

.diceContainer {
	position: absolute;
	left: $dice-container-left;
}

.dice {
    width: $avatar-width - $dice-container-left * 2;
}

.result {
	position: absolute;
	top: 49%;
	left: 50%;

	font-size: 114px;
	color: white;

	transform: translate(-50%, -50%);
}

.description {
	position: absolute;
	top: 99%;
	left: 50%;

	font-size: 80px;
	color: white;

	transform: translate(-50%, -50%);
}
