.avatar {
    position: absolute;
}

.sideContainer {
    position: absolute;
    transform: translateY(-50%);
    background-image: url(/side_placeholder.png);
    background-size: 100% 100%;
    width: 225px;
    height: 200px;

    &.top {
        top: 300px;
    }

    &.center {
        top: 400px;
    }

    &.bottom {
        top: 500px;
    }
}

.side {
    position: absolute;

    top: 50%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    font-size: 72px;
}

.nameContainer {
    position: absolute;
    top: 300px;
    left: 430px;

    max-width: 5em;

    color: white;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.75);

    font-size: 96px;
    font-style: italic;
    text-transform: uppercase;

    transform: translateY(-50%);
}

.combat {
    position: absolute;
    top: 300px;
    left: 430px;
    transform: translateY(-50%);
    width: auto;
}

.attribute {
    $size: 108px;

    font-size: $size;
    font-style: italic;
    max-width: 250px;
    color: white;
    line-height: $size + 20px;
}

.diceContainer {
    position: absolute;
    left: 30px;
}

.result {
    position: absolute;
    top: 195px;
    left: 180px;

    font-size: 108px;
    color: white;

    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px #ddaf0f, 0 0 30px #ddaf0f, 0 0 50px #ddaf0f;
}

.description {
    position: absolute;
    top: 365px;
    left: 180px;

    font-size: 78px;
    color: white;

    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px #ddaf0f, 0 0 30px #ddaf0f, 0 0 50px #ddaf0f;
}
