$avatar-width: 420px;
$avatar-height: 600px;

$dice-container-left: 30px;

.container {
	position: relative;
	width: 0px;
}

.editor {
	position: absolute;
	top: 650px;
	left: 10px;
}

.avatar {
	position: absolute;
	width: $avatar-width;
	height: $avatar-height;
}

.sideContainer {
	position: absolute;
	width: 200px;
	height: 120px;
	z-index: 100;

	.sideBackground {
		filter: blur(10px);
		background: radial-gradient(#000000 40%, #00000040 60%, #00000000 70%);
		width: 100%;
		height: 100%;
	}

	.sideContent {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 68px;
	}
}

.nameContainer {
	position: absolute;
	width: 100%;

	.name {
		width: 6em;
		color: white;
		text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.75);

		font-size: 96px;
		font-style: italic;
		text-transform: uppercase;
		line-height: 100%;
		overflow-wrap: break-word;
		padding-right: 1.5rem;
	}
}

.combat {
	position: absolute;
	width: 100%;

	.attribute {
		font-size: 108px;
		font-style: italic;
		max-width: 250px;
		color: white;
		line-height: 100%;
		padding-right: 1.5rem;
	}
}

.diceContainer {
	position: absolute;
	left: $dice-container-left;
}

.dice {
	width: $avatar-width - $dice-container-left * 2;
}

.result {
	position: absolute;
	top: 49%;
	left: 50%;

	font-size: 114px;
	color: white;

	transform: translate(-50%, -50%);
}

.description {
	position: absolute;
	top: 99%;
	left: 50%;

	font-size: 80px;
	color: white;

	transform: translate(-50%, -50%);
}
