$proggress-bar-height: 40px;

.progress {
    height: $proggress-bar-height;
}

.attribute-dice {
    max-height: $proggress-bar-height;
}

.Vida {
    $background: #5a1e1e;
    $foreground: #b62323;

    &.progress {
        background-color: $background;
        .progress-bar {
            background-color: $foreground;
        }
    }

    &.attribute-color {
        color: $foreground;
    }

    &.portrait-color {
        color: white;
        text-shadow: 0 0 10px $foreground, 0 0 30px $foreground, 0 0 50px $foreground;
    }
}

.Sanidade {
    $background: #2c4470;
    $foreground: #1f3ce0;

    &.progress {
        background-color: $background;
        .progress-bar {
            background-color: $foreground;
        }
    }

    &.attribute-color {
        color: $foreground;
    }

    &.portrait-color {
        color: white;
        text-shadow: 0 0 10px $foreground, 0 0 30px $foreground, 0 0 50px $foreground;
    }
}

.Magia {
    $background: #682f5b;
    $foreground: #ae00ff;

    &.progress {
        background-color: $background;
        .progress-bar {
            background-color: $foreground;
        }
    }

    &.attribute-color {
        color: $foreground;
    }

    &.portrait-color {
        color: white;
        text-shadow: 0 0 10px $foreground, 0 0 30px $foreground, 0 0 50px $foreground;
    }
}