@import "bootstrap";
@import "./palette";
@import "./attribute";

body {
  padding: 0;
  margin: 0;
  background-color: $background-color;
  color: $text-color;
}

.data-container {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 20px;
}

.theme-element {
  background-color: $primary-color;
  color: $text-color;

  &:focus {
    background-color: $primary-color;
    color: $text-color;
  }

  &:disabled {
    background-color: darken($primary-color, 10%);
    border-color: $secondary-color;
    color: $text-color;
  }

  &::-webkit-input-placeholder {
    color: darken($text-color, 25%);
  }
}

.bottom-text {
  background-color: $background-color;
  outline: 0;
  border-width: 0 0 1px;
  color: $text-color;
  &:focus {
    background-color: $background-color;
  }
}

.form-control,
.form-select {
  border-color: lighten($primary-color, 25%);
  &:focus {
    border-color: $primary-color;
    box-shadow: inset 0 0.25rem 0.25rem rgb(0 0 0 / 8%), 0 0 8px $outline-color;
  }
}

.clickable {
  cursor: pointer;
}

.modal-content {
  background-color: $terciary-color;
}

.modal-header {
  background-color: $terciary-color;
  border-color: $secondary-color;
}

.modal-body {
  background-color: $terciary-color;
  border-color: $secondary-color;
}

.modal-footer {
  background-color: $terciary-color;
  border-color: $secondary-color;
}

.navbar {
  background-color: $terciary-color;
  .nav-link {
    color: $navbar-text-color !important;
    &:hover {
      color: darken($navbar-text-color, 20%) !important;
    }
  }

  .navbar-brand {
    color: $navbar-text-color !important;
  }
}

.table {
  color: $text-color;
  tr {
    border-color: gray;
  }
}

$list-group-color: #222222;

.wrapper {
  @extend .data-container;
  overflow-y: auto;
  max-height: 260px;

  .list-group {
    background-color: $list-group-color;
    border-radius: 0;
    min-height: 200px;
    list-style-type: none;
    margin: 0;
    padding: 0;

    .list-group-item {
      padding: 0.5rem 1rem;
    }

    input.bottom-text {
      background-color: $list-group-color;
    }
  }
}

.wrapper::-webkit-scrollbar,
.wrapper::-webkit-scrollbar {
  width: 0;
}

.dice-list > li:nth-child(odd) {
  background-color: lighten($list-group-color, 50%);
}

.player-container {
  @extend .data-container;
  background-color: $secondary-color;
}

.list-group-item {
  @extend .theme-element;
  background-color: $list-group-color;

  &.selected {
    background-color: $secondary-color;
    input {
      background-color: $secondary-color !important;
    }
  }
}

.skill-container {
  $text-color-hover: invert($text-color);

  background-color: $background-color;
  border-radius: 20px;

  &:hover {
    background-color: $outline-color;
    .text {
      background-color: $outline-color;
      color: $text-color-hover;
    }
    .label {
      color: $text-color-hover;
    }
  }
}

.shadow {
  transition: all 0.25s ease;
  &.show {
    filter: brightness(30%);
    transition: all 0.5s ease-out;
  }
}

.popout {
  transform: scale(0);
  transition: all 0.6s ease-in;

  &.show {
    transform: scale(1);
    transition: all 0.5s ease-out;
  }
}
