@import "./variables";
@import "bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  background-color: $primary;
  color: $text;
}

.data-container {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 20px;
}

.theme-element {
  background-color: $secondary;
  color: $text;

  &:focus {
    background-color: $secondary;
    color: $text;
  }
}

.form-control,
.form-select {
  border-color: lighten($dark, 25%);
  &:focus {
    border-color: $dark;
    box-shadow: inset 0 0.25rem 0.25rem rgb(0 0 0 / 8%), 0 0 8px $dark;
  }
}
