/*********************************************************************************
* A paleta é o conjunto de cores que forma a identidade visual de todo o site.   *
* Para editá-la, é muito simples: apenas troque os valores hexadecimais das      *
* variáveis abaixo para as cores de sua paleta desejada. (A cor deve preceder    *
* de uma hashtag "#".)                                                           *
*                                                                                *
* Boa sorte, e bom jogo!                                                         *
*                                                                                *
* OBS 1: NÃO edite este texto ou qualquer texto que preceda duas barras ("//").  *
* OBS 2: Alguns botões de algumas páginas são imutáveis, ou seja, suas cores não *
* podem ser editadas. Esses botões possuem cor cinza para não afetar a           *
* diversidade da paleta de cores.                                                *
**********************************************************************************/

/*****************
*  CORES GERAIS  *
******************/

// Cor do plano de fundo.
// Em geral, é recomendado que essa cor seja escura.
$background-color: #0e0e0e;

// Cor primária da paleta de cores.
// Usado como cor de fundo de caixa de textos e bordas.
$primary-color: #000000;

// Cor do texto global.
// Normalmente, essas cores são preto (#000000) ou branco (#ffffff).
$text-color: #ffffff;

// Cor de destaque das caixas de texto.
// É recomendável que essa cor seja mais clara que o resto da paleta.
$outline-color: #ff0000;

/**********************
*  CORES ESPECÍFICAS  *
***********************/

// Cor de fundo dos contêineres de jogadores no painel de administrador.
$player-container-color: #252525;

// Cor do plano de fundo dos popups (telas de adicionar, criar, rolar dado, etc.).
$modal-background-color: #000000;

// Cor do texto dos popups.
$modal-text-color: #ffffff;

// Cor de fundo da barra de navegação.
$navbar-background-color: #202020;

// Cor do texto da barra de navegação.
$navbar-text-color: #ffffff;

// Cor de fundo do contêiner de perícia.
$skill-container-outline-color: #ffffff;

// Cor dos botões secundários (todos os botões auxiliares do jogo, como o de adicionar (+), fechar, apagar, retrato, etc.)
$secondary-buttons: #6c757d !default;