@import "./variables.scss";

.container {
    background-color: $container-color;
    border-radius: 20px;

    &:hover {
        background-color: $container-color-hover;
        .text {
            background-color: $container-color-hover;
            color: $text-color-hover;
        }
        .label {
            color: $text-color-hover;
        }
    }
}
