$primary: #222831 !default;
$secondary: #393e46 !default;
$light: #00adb5 !default;
$dark: darken(#00adb5, 20%) !default;
$text: #eeeeee !default;

// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;