$openrpg-primary: #1d232f !default;
$openrpg-secondary: #2f3c52 !default;
$openrpg-light: #00adb5 !default;
$openrpg-dark: darken($openrpg-light, 25%) !default;
$openrpg-text: #eeeeee !default;

$dark: #343a40 !default;
$info: #11bec6 !default;

//Proggress Bar
$proggress-bar-height: 40px;

//Skill Container
$container-color: $openrpg-primary;
$container-color-hover: $openrpg-light;
$text-color: $openrpg-text;
$text-color-hover: black;